
@model LoginViewModel
@{
    ViewData["Title"] = "Logout";
}
<h1>@ViewData["Title"]</h1>

<p> You've been logged out! </p>

<button type="button" onclick="location.href='@Url.Action("OIDC")'">Login!</button>
